/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fafafa;
  font-size: 0.938em;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  line-height: 1.5em;
}

.header h1 {
  margin-bottom: 2.038735983690112vh;
  font-size: 2.25em;
  font-weight: 200;
}

.header h2 {
  margin-bottom: 3.058103975535168vh;
  font-size: 2.25em;
  font-weight: 600;
}

.header p {
  margin: 0 auto 6.116207951070336vh auto;
  max-width: 500px;
  font-size: 1em;
  color: #a3a5ae;
  line-height: 1.5em;
}

.cards {
  max-width: 1440px;
  line-height: 1.5em;
  display: grid;
  gap: 30px;
  grid-template: "    .      team          . " 1fr "supervisor team  calculator" 1fr "supervisor karma calculator" 1fr ".          karma          ." 1fr;
}

.cards > div {
  max-width: 350px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-top: 5px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.cards > div span {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
}

.cards > div p {
  color: #a3a5ae;
  margin-bottom: 40px;
}

.cards > div img {
  display: block;
  margin: 0px;
  padding: 0px;
  align-self: flex-end;
  justify-self: flex-end;
}

.cards div:nth-child(1) {
  grid-area: supervisor;
  border-color: #45d3d3;
}

.cards div:nth-child(2) {
  grid-area: team;
  border-color: #ea5353;
}

.cards div:nth-child(3) {
  grid-area: karma;
  border-color: #fcaf4a;
}

.cards div:nth-child(4) {
  grid-area: calculator;
  border-color: #549ef2;
}

.footer {
  margin-top: 8.695652173913043vh;
  line-height: 1.5em;
}

@media screen and (max-width: 1090px) {
  .cards {
    gap: 3.058103975535168vh;
    grid-template: "supervisor team" 1fr "karma calculator" 1fr;
  }
  .cards > div {
    max-width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .header h1, .header h2 {
    font-size: 1.5rem;
  }
  .header p {
    max-width: 350px;
    margin-bottom: 30px;
  }
  .footer {
    max-width: 350px;
    text-align: center;
  }
  .cards {
    justify-content: center;
    gap: 3.058103975535168vh;
    grid-template: "supervisor" 1fr "team"       1fr "karma"      1fr "calculator" 1fr;
  }
  .cards > div {
    max-width: 350px;
  }
}

@media screen and (max-width: 450px) {
  .header h1, .header h2 {
    font-size: 1.5rem;
  }
  .header p {
    max-width: 300px;
    margin-bottom: 30px;
  }
  .cards {
    justify-content: center;
    gap: 3.058103975535168vh;
    grid-template: "supervisor" 1fr "team"       1fr "karma"      1fr "calculator" 1fr;
  }
  .cards > div {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .header h1, .header h2 {
    font-size: 1.3rem;
  }
  .header p {
    max-width: 260px;
    margin-bottom: 3.058103975535168vh;
  }
  .cards {
    justify-content: center;
    gap: 3.058103975535168vh;
    grid-template: "supervisor" 1fr "team"       1fr "karma"      1fr "calculator" 1fr;
  }
  .cards > div {
    padding: 15px;
    max-width: 260px;
  }
}
