/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
body {
  line-height: 1;
  box-sizing: border-box;
}

/* line 35, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../MEGA/projetos-web/four-card/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
html {
  box-sizing: border-box;
}

/* line 4, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
body {
  background: #fafafa;
  font-size: 0.938em;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* line 11, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.container {
  max-width: 1440px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 24, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.header {
  text-align: center;
}

/* line 26, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.header h1 {
  margin-bottom: 1.389vw;
  font-size: 2.25em;
  font-weight: 200;
}

/* line 31, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.header h2 {
  margin-bottom: 2.083vw;
  font-size: 2.25em;
  font-weight: 600;
}

/* line 36, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.header p {
  margin: 0 auto 6.521739130434782vh auto;
  max-width: 500px;
  font-size: 1em;
  color: #a3a5ae;
}

/* line 46, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards {
  max-width: 1440px;
  display: grid;
  gap: 2.083vw;
  grid-template: "    .      team          . " 1fr "supervisor team  calculator" 1fr "supervisor karma calculator" 1fr ".          karma          ." 1fr;
}

/* line 59, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards > div {
  border-radius: 8px;
  box-shadow: 1px 6px 16px #a3a5ae;
  border-top: 3px solid;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
}

/* line 71, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards > div span {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 76, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards > div p {
  color: #a3a5ae;
  margin-bottom: 40px;
}

/* line 80, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards > div img {
  display: block;
  align-self: flex-end;
  justify-self: flex-end;
}

/* line 87, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards div:nth-child(1) {
  grid-area: supervisor;
  border-color: #45d3d3;
}

/* line 91, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards div:nth-child(2) {
  grid-area: team;
  border-color: #ea5353;
}

/* line 95, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards div:nth-child(3) {
  grid-area: karma;
  border-color: #fcaf4a;
}

/* line 99, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.cards div:nth-child(4) {
  grid-area: calculator;
  border-color: #549ef2;
}

/* line 105, ../MEGA/projetos-web/four-card/css/scss/_grid.scss */
.footer {
  margin-top: 8.695652173913043vh;
}

@media screen and (max-width: 1220px) {
  /* line 2, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .cards {
    gap: 2.083vw;
    grid-template: "supervisor team" 1fr "karma calculator" 1fr;
  }
  /* line 9, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .cards > div {
    width: 350px;
    height: 250px;
  }
}

@media screen and (max-width: 920px) {
  /* line 15, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .cards {
    justify-content: center;
    gap: 30px;
    grid-template: "supervisor" 1fr "team"       1fr "karma"      1fr "calculator" 1fr;
  }
  /* line 25, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .cards > div {
    width: 300px;
    height: 250px;
  }
  /* line 30, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .header h1, .header h2 {
    font-size: 1.5rem;
  }
  /* line 33, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .header p {
    width: 300px;
    margin-bottom: 30px;
  }
  /* line 38, ../MEGA/projetos-web/four-card/css/scss/_responsive.scss */
  .footer {
    width: 300px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */